<% layout('../boilerplate/boilerplate') -%>
<% if(users.bookings.length){ %>
<% for(booking of users.bookings ){ %>
<div class="container" >
  <% if(booking.camp){ %>
<div class="card mb-3 cardForward" style="cursor: pointer;" >
    <div class="row g-0 p-1">
      <div class="col-md-4">
        <div id="<%= booking.camp.id %>" class="carousel slide">
          <div class="carousel-inner bg-dark-subtle">
              <% booking.camp.images.forEach((img,i) => { %>
                <div class="carousel-item  <%= i == 0? 'active': '' %>">
                <img src="<%= img.path %>" class="img-fluid mx-auto d-block " alt="..." style="min-height: 50dvh; max-height: 50dvh;" >
                </div>
              <% }) %>
          </div>
          <% if (booking.camp.images.length > 1) { %>
          <button class="carousel-control-prev" type="button" data-bs-target="#<%= booking.camp.id %>" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#<%= booking.camp.id %>" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          <% } %>
        </div>
      </div>
      <div class="col-md-8 d-flex flex-column" style="cursor: pointer;" id="changer" too="/camps/book/<%=booking.camp.id%>/<%=booking.id%>" >
        <div class="card-body d-flex flex-column justify-content-between">
          <h3 class="card-title align-self-center"><%= booking.camp.name %></h3>
          <p class="card-text "><%= booking.camp.description %></p>
          <p class="card-text"><small class="text-body-secondary"><%= booking.camp.location.fullAddress %></small></p>
          <h6>Booked From <%= booking.from.toLocaleDateString() %> To <%= booking.to.toLocaleDateString() %> </h6>
            <form class="d-inline col-6 offset-3" action="/camps/book/<%= booking.id %>?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger col-12 p-2">Delete Booking</button>
            </form>
          <%  if(booking.camp.reviews.length){ %>
              <p class="starability-result" data-rating="<%- (Math.floor(booking.camp.average)) %>"> </p>
          <%  }%>
        </div>        
      </div>
    </div>
  </div>
  <% } %>
</div>
<% } %>
<% } else { %>
    <div class="container" >
        <h1 class="text-center">No bookings Yet</h1>
    </div>
 <% } %>